body,
h1,
h2,
ul,
li {
  padding: 0;
  margin: 0;
  lits-style: none;
}
a {
  text-decoration: none;
}
*[text-l] {
  text-align: left;
}
*[text-c] {
  text-align: center;
}
*[text-r] {
  text-align: right;
}
* {
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-s-h {
    display: none;
  }
  .container > .row > .col-s-v {
    display: block;
  }
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container > .row > .col-s-left-1 {
  position: relative;
  left: -8.33333333%;
}
.container > .row > .col-s-right-1 {
  position: relative;
  left: 8.33333333%;
}
.container-fluid > .row > .col-s-left-1 {
  position: relative;
  left: -8.33333333%;
}
.container-fluid > .row > .col-s-right-1 {
  position: relative;
  left: 8.33333333%;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container > .row > .col-s-left-2 {
  position: relative;
  left: -16.66666667%;
}
.container > .row > .col-s-right-2 {
  position: relative;
  left: 16.66666667%;
}
.container-fluid > .row > .col-s-left-2 {
  position: relative;
  left: -16.66666667%;
}
.container-fluid > .row > .col-s-right-2 {
  position: relative;
  left: 16.66666667%;
}
.container > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container-fluid > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container > .row > .col-s-left-3 {
  position: relative;
  left: -25%;
}
.container > .row > .col-s-right-3 {
  position: relative;
  left: 25%;
}
.container-fluid > .row > .col-s-left-3 {
  position: relative;
  left: -25%;
}
.container-fluid > .row > .col-s-right-3 {
  position: relative;
  left: 25%;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container > .row > .col-s-left-4 {
  position: relative;
  left: -33.33333333%;
}
.container > .row > .col-s-right-4 {
  position: relative;
  left: 33.33333333%;
}
.container-fluid > .row > .col-s-left-4 {
  position: relative;
  left: -33.33333333%;
}
.container-fluid > .row > .col-s-right-4 {
  position: relative;
  left: 33.33333333%;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container > .row > .col-s-left-5 {
  position: relative;
  left: -41.66666667%;
}
.container > .row > .col-s-right-5 {
  position: relative;
  left: 41.66666667%;
}
.container-fluid > .row > .col-s-left-5 {
  position: relative;
  left: -41.66666667%;
}
.container-fluid > .row > .col-s-right-5 {
  position: relative;
  left: 41.66666667%;
}
.container > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container-fluid > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container > .row > .col-s-left-6 {
  position: relative;
  left: -50%;
}
.container > .row > .col-s-right-6 {
  position: relative;
  left: 50%;
}
.container-fluid > .row > .col-s-left-6 {
  position: relative;
  left: -50%;
}
.container-fluid > .row > .col-s-right-6 {
  position: relative;
  left: 50%;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container > .row > .col-s-left-7 {
  position: relative;
  left: -58.33333333%;
}
.container > .row > .col-s-right-7 {
  position: relative;
  left: 58.33333333%;
}
.container-fluid > .row > .col-s-left-7 {
  position: relative;
  left: -58.33333333%;
}
.container-fluid > .row > .col-s-right-7 {
  position: relative;
  left: 58.33333333%;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container > .row > .col-s-left-8 {
  position: relative;
  left: -66.66666667%;
}
.container > .row > .col-s-right-8 {
  position: relative;
  left: 66.66666667%;
}
.container-fluid > .row > .col-s-left-8 {
  position: relative;
  left: -66.66666667%;
}
.container-fluid > .row > .col-s-right-8 {
  position: relative;
  left: 66.66666667%;
}
.container > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container-fluid > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container > .row > .col-s-left-9 {
  position: relative;
  left: -75%;
}
.container > .row > .col-s-right-9 {
  position: relative;
  left: 75%;
}
.container-fluid > .row > .col-s-left-9 {
  position: relative;
  left: -75%;
}
.container-fluid > .row > .col-s-right-9 {
  position: relative;
  left: 75%;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container-fluid > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container > .row > .col-s-left-10 {
  position: relative;
  left: -83.33333333%;
}
.container > .row > .col-s-right-10 {
  position: relative;
  left: 83.33333333%;
}
.container-fluid > .row > .col-s-left-10 {
  position: relative;
  left: -83.33333333%;
}
.container-fluid > .row > .col-s-right-10 {
  position: relative;
  left: 83.33333333%;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container-fluid > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container > .row > .col-s-left-11 {
  position: relative;
  left: -91.66666667%;
}
.container > .row > .col-s-right-11 {
  position: relative;
  left: 91.66666667%;
}
.container-fluid > .row > .col-s-left-11 {
  position: relative;
  left: -91.66666667%;
}
.container-fluid > .row > .col-s-right-11 {
  position: relative;
  left: 91.66666667%;
}
.container > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container-fluid > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container > .row > .col-s-left-12 {
  position: relative;
  left: -100%;
}
.container > .row > .col-s-right-12 {
  position: relative;
  left: 100%;
}
.container-fluid > .row > .col-s-left-12 {
  position: relative;
  left: -100%;
}
.container-fluid > .row > .col-s-right-12 {
  position: relative;
  left: 100%;
}
@media screen and (max-width: 1100px) and (min-width: 600px) {
  .container {
    width: 500px;
    width: 600px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-m-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-m-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-m-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-m-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-m-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-m-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-m-left-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-m-right-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-m-left-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-m-right-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-m-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-m-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-m-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-m-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-m-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-m-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-m-left-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-m-right-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-m-left-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-m-right-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-m-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-m-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-m-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-m-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-m-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-m-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-m-left-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-m-right-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-m-left-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-m-right-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-m-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-m-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-m-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-m-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-m-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-m-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-m-left-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-m-right-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-m-left-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-m-right-12 {
    position: relative;
    left: 100%;
  }
}
@media screen and (min-width: 1100px) {
  .container {
    width: 500px;
    width: 1100px;
    margin: 0 auto;
  }
  .container:before,
  .container:after {
    content: "";
    display: block;
  }
  .container:after {
    clear: both;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container > .row > .col-l-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container-fluid > .row > .col-l-left-1 {
    position: relative;
    left: -8.33333333%;
  }
  .container-fluid > .row > .col-l-right-1 {
    position: relative;
    left: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container > .row > .col-l-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container-fluid > .row > .col-l-left-2 {
    position: relative;
    left: -16.66666667%;
  }
  .container-fluid > .row > .col-l-right-2 {
    position: relative;
    left: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container-fluid > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-l-left-3 {
    position: relative;
    left: -25%;
  }
  .container > .row > .col-l-right-3 {
    position: relative;
    left: 25%;
  }
  .container-fluid > .row > .col-l-left-3 {
    position: relative;
    left: -25%;
  }
  .container-fluid > .row > .col-l-right-3 {
    position: relative;
    left: 25%;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container > .row > .col-l-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container-fluid > .row > .col-l-left-4 {
    position: relative;
    left: -33.33333333%;
  }
  .container-fluid > .row > .col-l-right-4 {
    position: relative;
    left: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container > .row > .col-l-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container-fluid > .row > .col-l-left-5 {
    position: relative;
    left: -41.66666667%;
  }
  .container-fluid > .row > .col-l-right-5 {
    position: relative;
    left: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container-fluid > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-l-left-6 {
    position: relative;
    left: -50%;
  }
  .container > .row > .col-l-right-6 {
    position: relative;
    left: 50%;
  }
  .container-fluid > .row > .col-l-left-6 {
    position: relative;
    left: -50%;
  }
  .container-fluid > .row > .col-l-right-6 {
    position: relative;
    left: 50%;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container > .row > .col-l-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container-fluid > .row > .col-l-left-7 {
    position: relative;
    left: -58.33333333%;
  }
  .container-fluid > .row > .col-l-right-7 {
    position: relative;
    left: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container > .row > .col-l-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container-fluid > .row > .col-l-left-8 {
    position: relative;
    left: -66.66666667%;
  }
  .container-fluid > .row > .col-l-right-8 {
    position: relative;
    left: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container-fluid > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-l-left-9 {
    position: relative;
    left: -75%;
  }
  .container > .row > .col-l-right-9 {
    position: relative;
    left: 75%;
  }
  .container-fluid > .row > .col-l-left-9 {
    position: relative;
    left: -75%;
  }
  .container-fluid > .row > .col-l-right-9 {
    position: relative;
    left: 75%;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fluid > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container > .row > .col-l-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container-fluid > .row > .col-l-left-10 {
    position: relative;
    left: -83.33333333%;
  }
  .container-fluid > .row > .col-l-right-10 {
    position: relative;
    left: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fluid > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container > .row > .col-l-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container-fluid > .row > .col-l-left-11 {
    position: relative;
    left: -91.66666667%;
  }
  .container-fluid > .row > .col-l-right-11 {
    position: relative;
    left: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container-fluid > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container > .row > .col-l-left-12 {
    position: relative;
    left: -100%;
  }
  .container > .row > .col-l-right-12 {
    position: relative;
    left: 100%;
  }
  .container-fluid > .row > .col-l-left-12 {
    position: relative;
    left: -100%;
  }
  .container-fluid > .row > .col-l-right-12 {
    position: relative;
    left: 100%;
  }
}
